<div id="<%= dom_id ticket %>">
  <p>
    <strong>Ean code:</strong>
    <%= ticket.ean_code %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= ticket.amount %>
  </p>

  <p>
    <strong>State:</strong>
    <%= ticket.state %>
  </p>

</div>
